
		*{
			font-family: nunito;
		}
		.banner {
    		height:120px;
    		background-color:white;
    	}
    	#logo {
    		height: 120px;
    		width: 150px;
    	}
		body {
			position: relative;
			background-repeat: no-repeat;
		}
		.menubar {
			position: relative;
			background-image: linear-gradient(to left,#614385,#516395);
			height: 50px;
		}
		.menubar a {
			text-decoration: none;
			color: white;
		}
		.menu-item:hover{
			background-image: linear-gradient(45deg,#ff512f ,#dd2476);
		}
		.text-center {
			padding-top: 12px;
		}
		.imagebox {
			position: relative;
			border-radius: 10px;
			height: 350px;
			padding: 10px;
		}
		.imagebox img {
			max-width: 100%;
			height: 100%;
			border-radius: 10px;
		}
		.imagebox a{
			position: absolute;
			bottom: 20px;
			left: 20px;
		}
		#set2 img{
			margin-left: 5px;
		}
		#set2 a {
			left: 30px;
		}
		.img-info {
			position: absolute;
			top: 30px;
			right: 40px;
			color: white;
			font-size: 16px;
			font-style: italic;
		}
		footer{
			height: 135px;
		}
		.footer-info {
			padding: 10px 0px 0px 30px;
			height: 130px;
			color: White;
			background-image: linear-gradient(to left,#614385,#516395);

		}
		li {
			font-size: 14px;
		}
		iframe {
			max-width: 100%;
			height: auto;
		}
/*--------------------------TABLET-----------------------*/
@media only screen and (max-width:991px) {
	.menubar {
		height: 100px;
	}
}
/*--------------------------MOBILE-----------------------*/
@media only screen and (max-width:575px) {
	.menubar {
		height: 200px;
	}
	#set1 .imagebox {
		height: 250px;
		max-width: 50%;
	}
	#set3 .imagebox {
		height: 200px;
		max-width: 50%;
	}
	.xs-hidden {
		display: none;
	}
}
