
    	* {
    		font-family: nunito;
    	}
    	.banner {
    		height:120px;
    		background-color:white;
    	}
    	#logo {
    		height: 120px;
    		width: 150px;
    	}
		.menubar {
		height: 50px;
		margin-left: 0px;
		background-image: linear-gradient(45deg,#614385,#516395);
		}
		.menubar a {
			text-decoration: none;
			color: white;
		}
		.menu-item:hover{
			background-image: linear-gradient(45deg,#ff512f ,#dd2476);
		}
		.text-center {
			padding-top: 12px;
		}

    	[class*="box-"] {
    		position: absolute;
    		background-image: linear-gradient(45deg,#614385,#516395);
    		border-radius: 15px;
    	}
    	.location-link {
    		text-decoration: none;
    		color: white;
    	}
    	[class*="box-"]:hover {
    		background-image: linear-gradient(45deg,#ff512f ,#dd2476);
    	}
    	.location-link:hover {
    		color: black;
    	}
		footer{
		height: 131px;
		background-image: linear-gradient(to left,#614385,#516395);
		}
		.footer-info {
		padding: 20px 0px 0px 30px;
		color: White;
		}
		li {
			font-size: 14px;
		}
		/*--------------------------MOBILE---------------------------*/
@media only screen and (min-width: 240px) {
		.menubar {
			height: 200px;
		}
		[class*="box-"] {
		height: 18px;
		text-align: center;
		padding: 0px 0px 5px 0px;
		}
		.check-box{
			position: relative;
    		width:	300px;
    		height: 401px;    		
    		background-image: url('../images/vnmap-xs.jpg');
    		background-repeat: no-repeat;
    		}
    	.location-link {
    		font-size: 12px;
    		margin-bottom: 5px;
    	}
    	.box-1 {
    		width: 40px;
    		top: 47px;
    		left: 33px;
    	}
    	.box-2 {
    		width: 55px;
    		top: 80px;
    		left: 193px ;
    	}
    	.box-3 {
    		width: 66px;
    		top: 102px;
    		left: 40px;
    	}
    	.box-4 {
    		width: 65px;
    		top: 173px;
    		left:  205px;
    	}
    	.box-5 {
    		width: 50px;
    		top: 185px;
    		left: 105px;
    	}
    	.box-6 {
    		width: 65px;
    		top: 211px;
    		left: 224px;
    	}
    	.box-7 {
    		width: 50px;
    		top: 247px;
    		left: 215px;
    	}
    	.box-8 {
    		width: 55px;
    		top: 270px;
    		left: 205px;
    	}
    	.box-9 {
    		width: 60px;
    		top: 275px;
    		left: 40px;
    	}
}	
/*--------------------------TABLET---------------------------*/
@media only screen and (min-width: 576px) {
		.menubar {
			height: 100px;
		}
		.footer-info h2{
			font-size: 16px;
		}
		.footer-info p{
			font-size: 12px;
		}
    	.check-box{
    		position: relative;
    		width:675px;
    		height: 900px;    		
    		background-image: url('../images/vnmap.jpg');
			background-repeat: no-repeat;
    	}
    	[class*="box-"] {
		height: 30px;
		}
		.location-link {
    		font-size: 16px;
    	}
    	.box-1 {
    		width: 50px;
    		top: 112px;
    		left: 125px;
    	}
    	.box-2 {
    		width: 70px;
    		top: 187px;
    		left: 430px ;
    	}
    	.box-3 {
    		width: 75px;
    		top: 236px;
    		left: 170px;
    	}
    	.box-4 {
    		width: 85px;
    		top: 395px;
    		left:  460px;
    	}
    	.box-5 {
    		width: 70px;
    		top: 420px;
    		left: 275px;
    	}
    	.box-6 {
    		width: 90px;
    		top:  479px;
    		left: 485px;
    	}
    	.box-7 {
    		width: 70px;
    		top: 564px;
    		left: 482px;
    	}
    	.box-8 {
    		width: 85px;
    		top: 607px;
    		left: 450px;
    	}
    	.box-9 {
    		width: 90px;
    		top: 625px;
    		left: 145px;
    	}
    }
/*--------------------------DESKTOP---------------------------*/
@media only screen and (min-width: 992px)
{
		.menubar {
		height: 50px;
		}
    	.check-box{
    		position: relative;
    		width:675px;
    		height: 900px;    		
    		background-image: url('../images/vnmap.jpg');
			background-repeat: no-repeat;
    	}
    	[class*="box-"] {
		height: 30px;
		}
		.location-link {
    		font-size: 16px;
    	}
    	.box-1 {
    		width: 50px;
    		top: 112px;
    		left: 125px;
    	}
    	.box-2 {
    		width: 70px;
    		top: 187px;
    		left: 430px ;
    	}
    	.box-3 {
    		width: 75px;
    		top: 236px;
    		left: 170px;
    	}
    	.box-4 {
    		width: 85px;
    		top: 395px;
    		left:  460px;
    	}
    	.box-5 {
    		width: 70px;
    		top: 420px;
    		left: 275px;
    	}
    	.box-6 {
    		width: 90px;
    		top:  479px;
    		left: 485px;
    	}
    	.box-7 {
    		width: 70px;
    		top: 564px;
    		left: 482px;
    	}
    	.box-8 {
    		width: 85px;
    		top: 607px;
    		left: 450px;
    	}
    	.box-9 {
    		width: 90px;
    		top: 625px;
    		left: 145px;
    	}
}


