
  		*	{
    		font-family: nunito;
    	}
		.banner {
    		height:120px;
    		background-color:white;
    	}
    	#logo {
    		height: 120px;
    		width: 150px;
    	}
    	.menubar {
			background-image: linear-gradient(to left,#614385,#516395);
			height: 50px;
		}
		.menubar a {
			text-decoration: none;
			color: white;
		}
		.menu-item:hover{
			background-image: linear-gradient(45deg,#ff512f ,#dd2476);
		}
		.text-center {
			padding-top: 12px;
		}
		.space-left {
			border-right: 2px solid lightgray;
		}
		.space-right {
			border-left: 2px solid lightgray;
		}

		.main-article img {
			max-width: 75%;
			height: auto;
		}
		.main-article p {
			text-indent: 20px;
			text-align: justify;
		}
		footer{
			height: 131px;
			margin-top: 10px;
			background-image: linear-gradient(to left,#614385,#516395);
		}
		.footer-info {
			padding: 20px 0px 0px 30px;
			color: White;
		}
		li {
			font-size: 14px;
		}
/*--------------------------TABLET---------------------------*/
@media only screen and (max-width: 991px) {
		.menubar {
			height: 100px;
		}
		.carousel-inner{
			height: 300px;
			max-width: 100%;
		}
}
/*--------------------------MOBILE---------------------------*/
@media only screen and (max-width: 575px) {
		.menubar {
			height: 200px;
		}
		.carousel-inner{
			height: 400px;
			max-width: 100%;
		}
}
